

/* .animate-right {
  animation: right 1s;
}


@keyframes right {
  to {
    transform: perspective(800px) rotateY(25deg);
  }
}

.animate-over {
  transform: perspective(800px) rotateY(20deg);
  animation: over 3s;
}

@keyframes over {
  to {
    transform: perspective(0px) rotateY(0deg);
  }
} */

.animate-right {
  /* This timing applies on the way OUT */
  transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 1s;

  /* Hide thing by pushing it outside by default */
  transform: perspective(800px) rotateY(25deg);
}

.animate-left {
  /* This timing applies on the way OUT */
  transition-timing-function: ease-in;

  /* Quick on the way out */
  transition: 1s;

  /* Hide thing by pushing it outside by default */
  transform: perspective(800px) rotateY(-25deg);
}



.animate-over {

  /* This timing applies on the way IN */
  transition-timing-function: ease-out;

  /* A litttttle slower on the way in */
  transition: 1s;

  /* Move into place */
  transform: perspective(0px) rotateY(0deg);

}



/*
@keyframes right {
  0% {
    transform: perspective(0px) rotateY(0deg);
  }
  50% {
    transform: perspective(800px) rotateY(25deg);
  }
  100% {
    transform: perspective(800px) rotateY(0deg);
  }
} */
/*

.animate-left {
  animation: left 2s;
}


@keyframes left {
  from {
    transform: perspective(0px) rotateY(0deg);
  }
  to {
    transform: perspective(800px) rotateY(-25deg);
  }
} */
