@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

* {
  /* font-family: 'Open Sans'; */
  font-family: Montserrat, sans-serif;
}

html {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

a {
  text-decoration: none;
}

nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 4em;
  animation: fadeIn 0.5s ease-out 1s;
  animation-fill-mode: backwards;
}

nav a {
  transform: rotate(-90deg);
  padding: 0em 0 7em 5em;
  color: #ff5c5c;
}

.nav__skills {
  padding-left: 6.3em;
}

.nav__contact {
  padding-left: 5.3em;
}

nav .download {
  text-align: end;
  padding-left: 7.6em;
}

.link--animate:after {
  border-bottom: 1px solid #ff5c5c;
  bottom: -1px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  transition: all 280ms ease-in-out;
  width: 0;
  visibility: hidden;
}
.link--animate:hover:after {
  visibility: visible;
  border-color: #ff5c5c;
  transition: width 350ms ease-in-out;
  width: 70%;
}

.nav__link--active:after {
  border-bottom: 1px solid #ff5c5c;
  bottom: -1px;
  content: ' ';
  display: block;
  margin: 0 auto;
  position: relative;
  width: 70%;
  visibility: visible;
}

#profile-container {
  box-sizing: border-box;
  margin: 9em auto;
  width: 60%;
  height: 100%;
}

#profile-message {
  z-index: 2;
  position: absolute;
  width: 594px;
}

#profile-message h1 {
  animation: moveInLeft 1s ease-out;
}

#profile-message h3 {
  letter-spacing: 0.05px;
  animation: moveInRight 1s ease-out;
}

#profile-image {
  margin-left: 24em;
  height: auto;
  z-index: -1;
  width: max-content;
  /* overflow: hidden; */
}

#profile-image img {
  object-fit: cover;
  /* transition: all 1s; */
  animation: fadeInAndScale 1s ease-out;
  animation-fill-mode: backwards;
}

/* heading text animation */
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-5rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* heading text animation */
@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(5rem);
  }
  80% {
    opacity: 0.8;
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

/* Heading image animation */
@keyframes fadeInAndScale {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    /* scale */
    transform: scale(1);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
  color: #ff5c5c;
}

#about-skills {
  display: flex;
  margin: 0 9em;
  height: 100vh;
}

#about {
  margin-right: 5em;
}

#about p {
  line-height: 1.5;
  font-size: large;
  letter-spacing: 0.1em;
  width: 618px;
  margin-left: 1em;
}

#skills {
  min-width: 437px;
}

#skills i {
  color: #ff5b5c;
  font-size: 4em;
  margin: 0.2em;
  line-height: 1.5;
}

#project-section {
  width: 80%;
  position: relative;
  margin: 0 9em;
  height: 100vh;
}

#project-section h1 {
  margin-bottom: 0.5em;
}
.scroll {
  display: none;
}
#project-section:hover .scroll {
  visibility: visible;
}
.scroll__control-bottom {
  margin-left: 2.2em;
}
.scroll__text {
  width: max-content;
  margin: 0;
  text-align: center;
  color: #ff5b5c;
}

.swipe {
  visibility: hidden;
  margin-left: 1em;
}
#project-section:hover .swipe {
  visibility: visible;
}
.swipe__control-bottom {
  margin-left: 2.2em;
}
.swipe__text {
  width: max-content;
  margin: 0;
  text-align: center;
  color: #ff5b5c;
}

#project-section .work {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  width: 100%;
  height: 70%;
  padding: 2em;
}

.project {
  display: flex;
  border-radius: 0.5em;
  height: 100%;
  min-width: 85%;
  margin-right: 5em;
  overflow: hidden;
}

.project-info {
  box-sizing: border-box;
  width: 50%;
  height: 100%;
  padding: 2em;
  line-height: 1.5;
}

.project-display {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}

.links {
  width: 50%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

.links a {
  color: inherit;
}

.links a i {
  margin-right: 0.3em;
}

.project-img {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  height: 90%;
}

.project-img img {
  width: 100%;
  margin-left: 2em;
}

.project-title {
  height: 3em;
  display: flex;
  align-items: flex-end;
}

.project-title h2 {
  margin: 0;
  font-weight: 700;
  font-size: 3em;
}

.project-subheading {
  margin-bottom: 1.5em;
  height: 2em;
  width: 115%;
}

.project-subheading h4 {
  margin: 0;
  font-weight: 600;
}

.project-content {
  height: 64%;
  width: 110%;
  margin-left: -10px;
}

.project-content p {
  font-weight: 300;
  font-size: 90%;
}

.project-content li {
  font-weight: 300;
  font-size: 80%;
  margin-left: -1em;
  margin-bottom: 0.2em;
}

.project-technology .heading {
  font-weight: 600;
}

.project-technology i {
  font-size: 2em;
  margin: 0.2em;
}

.project-technology {
  display: block;
}

.stalk {
  background-color: #fff3ea;
  color: #4e3726;
}

.slug {
  background-color: #2d2d2d;
  color: #e7e7e7;
}

.one {
  /* background-color: #9e297f; */
  background-color: #69306d;
  color: #fdecff;
}

.ttt {
  /* background-color: #3d77ea; */
  background-color: #84acce;
  color: #f4faff;
  margin-right: 2em;
}

.fakeblock {
  border: solid white;
}

.animate-right {
  transition-timing-function: ease-in;
  transition: 1s;
  transform: perspective(800px) rotateY(10deg);
}

.animate-left {
  transition-timing-function: ease-in;
  transition: 1s;
  transform: perspective(800px) rotateY(-10deg);
}

.animate-over {
  transition-timing-function: ease-out;
  transition: 1s;
  transform: perspective(0px) rotateY(0deg);
}

.project:hover {
  /* box-shadow: -2px 4px 20px 2px rgba(173, 173, 173, 0.71); */
  /* transform: scale(1.01); */
}

.project-img:hover {
  /* box-shadow: -2px 4px 20px 2px rgba(173, 173, 173, 0.71); */
  /* transform: scale(1.  1); */
}

#contact {
  /* margin: 9em; */
  margin: 0 9em;
  height: 100vh;
}

#contact h3 {
  margin-left: 1.5em;
  width: max-content;
}

h3.link--animate:after {
  border-bottom: 2px solid #ff5c5c;
  bottom: -2px;
}

.fa-ul {
  list-style-type: none;
  margin-left: 1em;
  padding-left: 0;
}

.fa-li {
  position: absolute;
  left: 0;
  width: 0;
  top: auto;
  text-align: center;
  font-size: xx-large;
  color: #ff5b5b;
}

/* below this make things abit smaller */
@media (max-width: 1080px) {
  #profile-message {
    width: 396px;
  }
  h1 {
    font-size: 3.2em;
  }
  #profile-message h1 {
    margin-bottom: 1em;
  }
  h3 {
    font-size: 1.5em;
  }
  #profile-image {
    margin-left: 12em;
  }
  #profile-image img {
    width: 25em;
  }

  /* project section */
  #project-section {
    margin-left: 6em;
  }
  #project-section h1 {
    margin-bottom: 0.5em;
  }
  #project-section .work {
    padding: 1.4em;
    height: 85%;
  }
  .project {
    min-width: 90%;
    margin-right: 3em;
  }
  .project-content li {
    font-size: 90%;
    margin-bottom: 0.15em;
  }
  .project .links {
    width: 70%;
    font-size: smaller;
  }
  .project-technology i {
    font-size: 1.5em;
  }

  /* about and skills */
  #about-skills {
    margin-left: 6em;
  }
  #about {
    margin-right: 1.5em;
  }
  #about p {
    font-size: 0.8em;
    width: 400px;
  }
  #skills {
    min-width: 285px;
  }
  #skills i {
    font-size: 3em;
    margin: 0.2em;
    line-height: 1.5;
  }

  /* contact */
  #contact {
    margin-left: 6em;
  }
  .fa-li {
    font-size: x-large;
  }
}

@media (max-width: 875px) {
  /* project section */
  .project {
    flex-direction: column;
  }
  .project-title {
    height: 1.5em;
  }
  .project-title h2 {
    font-size: 1.5em;
  }
  .project-subheading {
    margin-bottom: 0;
  }
  .project-info {
    height: 43%;
    width: 100%;
  }
  .project-technology {
    align-self: flex-start;
    padding-left: 2em;
  }
  .project-technology .heading {
    margin-bottom: 0.2em;
  }
  .project-technology i {
    font-size: 1.5em;
  }
  .project-content {
    width: 100%;
  }
  .project-content li {
    font-size: 65%;
  }
  .project-display {
    height: 57%;
    width: 100%;
  }
  .project-img {
    padding: 4% 6% 4% 6%;
    width: 80%;
  }
  .project-img img {
    margin: 0;
  }
  .project .links {
    width: 70%;
  }

  /* about and skills */
  #about-skills {
    /* margin-left: 3em; */
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 16em;
  }
  #about p {
    font-size: 0.8em;
    width: 550px;
  }
  #skills {
    min-width: 550px;
  }
}

@media (max-width: 670px) {
  #profile-container {
    display: flex;
    margin-left: 3em;
  }
  #profile-message {
    position: absolute;
    width: 16em;
  }
  #profile-message h1 {
    font-size: 2.8em;
    margin-bottom: 5.5em;
  }
  #profile-message h3 {
    font-size: 1em;
    margin-left: 0.6em;
  }
  #profile-image {
    margin-left: 2em;
    margin-top: 10em;
  }
  #profile-image img {
    width: 16em;
  }
  #project-section {
    margin-left: 6em;
  }

  /* project section */
  #project-section {
    margin-left: 3em;
    margin-bottom: 10em;
  }
  #project-section h1 {
    margin-bottom: 0.5em;
  }
  .swipe {
    display: none;
  }
  .scroll {
    display: block;
    margin: 0 0 0.5em 1em;
  }
  #project-section .work {
    padding: 1em;
    height: 90%;
    flex-direction: column;
    overflow-x: scroll;
    overflow-y: none;
  }
  .project {
    min-height: 532px;
    min-width: 100%;
    margin-bottom: 1em;
  }
  .project-info {
    height: 50%;
  }
  .project-title {
    height: 1em;
  }
  .project-title h2 {
    font-size: 1em;
  }
  .project-subheading {
    margin-bottom: -1.5em;
  }
  .project-subheading h4 {
    font-size: 0.7em;
    margin: 0;
    font-weight: 600;
  }
  .project-technology .heading {
    font-size: 0.8em;
    margin-top: 0;
    margin-bottom: 0.5em;
  }
  .project-technology i {
    font-size: 1em;
  }
  .project-content ul {
    padding-left: 1.3em;
  }
  .project-content p {
    font-size: 70%;
  }
  .project-content li {
    font-size: 62%;
  }
  .project-img {
    padding: 3% 6% 4% 6%;
  }
  .project .links {
    font-size: smaller;
    margin-bottom: 1em;
  }

  /* about and skills */
  #about-skills {
    /* margin-left: 3em; */
    height: auto;
    margin-top: -2em;
    margin-left: 3em;
  }
  #about-skills p {
    width: 280px;
  }
  #skills {
    min-width: 280px;
  }
  #skills i {
    min-width: 280px;
    font-size: 1.8em;
    display: inline;
  }

  /* contact */
  #contact {
    margin-left: 3em;
  }
  #contact h3 {
    margin-left: 1.5em;
    font-size: 1.4em;
  }
  #contact li {
    margin-bottom: 2em;
  }
  .fa-li {
    font-size: large;
  }
}
