@import url('https://fonts.googleapis.com/css?family=Open+Sans:600&display=swap');

* {
  /* font-family: 'Open Sans'; */
  font-family: Montserrat, sans-serif;
}

nav {
  /* transform: rotate(-90deg); */
  position: fixed;
  display: flex;
  flex-direction: column;
}

nav a {
  text-decoration: none;
  transform: rotate(-90deg);
  padding: 0em 3em 4em 0em;
  color: #ff5c5c;
}

.welcome-message {
  margin: 9em auto;
  width: 75%;
  margin-top: 9em;
  /* border: solid; */
  display: flex;
  position: relative;
  justify-content: center;
}

#profile-message {
  z-index: 2;
  position: absolute;
  width: 55%;
}

#profile-image {
  margin-left: 24em;
  z-index: -1;
  position: relative;
}


h1 {
  font-size: 5em;
}

h3 {
  font-size: 2em;
  color: #ff5c5c;
}

#about-skills {
  /* margin: 9em; */
  display: flex;
  margin: 0 9em;
  height: 100vh;
}


#about {
  /* width: 75%; */
  margin-right: 5em;
}

#about p {
  line-height: 1.5;
  font-size: large;
  letter-spacing: 0.1em;

}

#skills i {
  color: #ff5b5c;
  font-size: 4em;
  margin: 0.2em;
  line-height: 1.5;
}

#project-section {
  width: 80%;
  position: relative;
  /* border: 1px solid red; */
  /* margin: 9em; */
  margin: 0 9em;
  height: 100vh;
}

#project-section .work {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  /* border: 1px solid black;  */
  /* width: 80vw;
  height: 75vh;
  box-sizing: border-box;
  padding: 4em 0; */

}

.project {
  /* height: 80px; */
  max-height: 500px;
  /* width: max-content; */
  min-width: 1000px;
  /* border: 1px solid blue; */
  /* padding-right: 2em; */
  margin: 2em;
  border-radius: 0.5em;
  overflow: hidden;
  display: flex;
  justify-items: center;

}


.work img {
  width: 100%;
  /* position: absolute; */
  padding: 6em 0 0 6em;
}

.project-img {
  /* border: 1px solid red; */
  width: 60%;
  height: 100%;

}

.project-info {
  padding: 2em;
  /* border: 1px solid black; */
  width: 40%;
  height: 100%;
  box-sizing: border-box;
}

.stalk {
  background-color: #fff3ea;
}

.one {
  background-color: #9e297f;
  color: white;
}

.slug {
  background-color: #2d2d2d;
  color: white;
}

.ttt {
  background-color: #3d77ea;
  color: white;
}


#contact {
  /* margin: 9em; */
  margin: 0 9em;
  height: 100vh;
}

a {
text-decoration: none;
}

.animate-right {
  transition-timing-function: ease-in;
  transition: 1s;
  transform: perspective(800px) rotateY(10deg);
}

.animate-left {
  transition-timing-function: ease-in;
  transition: 1s;
  transform: perspective(800px) rotateY(-10deg);
}

.animate-over {
  transition-timing-function: ease-out;
  transition: 1s;
  transform: perspective(0px) rotateY(0deg);
}
